body{
    font-family: Raleway;
    color: #555;
    background: #ff5252;
    margin: 10px 30px;
}
#homepage{
    max-width: 800px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.title{
    color: #fff;
    text-align: center;
    font-size: 48px;
}
#homepage h1{
    text-align: center;
}
form{
    max-width: 350px;
    margin: 30px auto;
}

